*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  overflow: hidden;
  // 1rem = 10px
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  background-color: $color-light;
}

a {
  text-decoration: none;
  color: $blue-main;
  font-size: $paragraph-font-size;
  transition: all 0.3s;

  &:hover {
    color: $orange-light;
    cursor: pointer;
  }
}

ul,
ol {
  list-style: none;
  font-size: $paragraph-font-size;
}

svg {
  width: 2rem;
  height: 2rem;
  fill: $grey-middle-value;
}

.interactive {
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.notification-orange {
  &::after {
    @include notification-icon($orange-light);
  }
}

.notification-green {
  &::after {
    @include notification-icon($green-high-saturation);
  }
}

body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.btn {
  &--primary {
    background-color: $orange-dark;
    color: $whiteness;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: $orange-light;
    }
  }

  &--small {
    width: 4rem;
    height: 4rem;
    svg {
      fill: $whiteness;
    }
  }
}
