.styleguide {
  &__section {
    border: 1px solid $grey-low-value;
    box-shadow: 0 0.5rem 1rem $grey-middle-value;
    margin: 3rem;
    padding: 3rem;
    flex-direction: column;
  }

  &__headers {
    border-bottom: 1px solid $grey-middle-value;
    padding: 10px;
    flex-wrap: row;
    align-items: center;

    span {
      margin-right: 3rem;
    }
  }
}
