/* Colors */
$dark-high-value: #111;
$dark-middle-value: #222;
$dark-low-value: #333;

$color-light: #f5f5f2;
$whiteness: #fff;

$grey-high-value: #979797;
$grey-middle-value: #bababa;
$grey-low-value: #e3e3e3;

$orange-dark: #f58220;
$orange-light: #ffa200;
$blue-main: #56819f;

$green-high-saturation: #04ae00;
$green-middle-saturation: #74b67a;
$green-low-saturation: #96cc9b;

$red-high-saturation: #ff0000;
$red-middle-saturation: #de5252;
$red-low-saturation: #ec7171;

/* Font sizes */
$paragraph-font-size: 1.6rem;
$title-font-size: 2rem;

/* Fonts */
$main-font: "Roboto", sans-serif;
$logo-font: "Rock Salt", cursive;

$font-light: 300;
$font-medium: 400;
$font-bold: 700;
