.page__articles {
  margin-top: 10rem;
  transition: all 0.5s ease-in-out;
  margin-left: 16.6%;

  @include tablet {
    margin-left: 33.3%;
  }
  @include mobile-landscape {
    margin-left: 33.3%;
  }
}

.articles--margin {
  margin-left: 0;
}

.page__article {
  margin: 2rem;
  height: 700px;
  background-color: #fff;
  box-shadow: 0.3rem 0.3rem 1rem $grey-middle-value;
}
